body {
    position: relative;
}

ul.nav-pills {
    top: 20px;
    position: fixed;
}

div.col-sm-6 div {
    height: 550px;
    overflow-y: scroll;
    /* font-size: 28px; */
}

@media screen and (max-width: 810px) {
    #acousticness,
    #danceability,
    #energy,
    #instrumentalness,
    #liveness,
    #loudness,
    #mode,
    #speechicness,
    #tempo,
    #time_signature,
    #valence,
    #key {
        margin-left: 150px;
    }
}