<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Audio Features</title>
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Import Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cyborg/bootstrap.min.css" integrity="sha384-Uga2yStKRHUWCS7ORqIZhJ9LIAv4i7gZuEdoR1QAmw6H+ffhcf7yCOd0CvSoNwoz" crossorigin="anonymous">
    <!-- Import Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- CSS for Bootstrap Scrollspy Nav-->
    <link href="../static/css/scroll_spy.css" rel="stylesheet">
    <!-- <script type="text/javascript" src="../static/js/index.js"></script> -->
    <script type="module">
        import define from "{{ url_for('static', filename='js/index.js') }}"; import {Runtime, Library, Inspector} from "{{ url_for('static', filename='js/runtime.js') }}"; const runtime = new Runtime(); const main = runtime.module(define, Inspector.into(document.body));
    </script>
</head>


<body data-spy="scroll" data-target="#audio-features" data-offset="20">

    <!-- Navigation Bar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">
                <img src="../static/assets/machine-learning.png" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/features">Audio Features <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/eda">Data Exploration <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/mlmodels">ML Models <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/results">Results <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/summary">Summary <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/predictor">Predictor <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <main role="main">
        <!-- Jumbotron -->
        <div class="container">
            <div class="row" class="col-lg-12 center-block">
                <div class="jumbotron">
                    <h1 class="display-3">Spotify Audio Features</h1>
                    <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p> -->
                </div>
            </div>
        </div>



        <!-- Insert Body Text -->
        <h2>Spotify Audio Features</h2>
        <p>Spotify captures the following 13 audio features for each song:</p>

        <!-- ScrollSpy - Audio Features-->
        <div class="bd-example">
            <div class="row">
                <div class="col-4">
                    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column audio-features">
                        <a class="navbar-brand" href="#"></a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="#acousticness">acousticness</a>
                            <a class="nav-link" href="#danceability">danceability</a>
                            <a class="nav-link" href="#duration">duration_ms</a>
                            <a class="nav-link" href="#energy">energy</a>
                            <a class="nav-link" href="#instrumentalness">instrumentalness</a>
                            <a class="nav-link" href="#key">key</a>
                            <a class="nav-link" href="#liveness">liveness</a>
                            <a class="nav-link" href="#loudness">loudness</a>
                            <a class="nav-link" href="#mode">mode</a>
                            <a class="nav-link" href="#speechiness">speechicness</a>
                            <a class="nav-link" href="#tempo">tempo</a>
                            <a class="nav-link" href="#time_signature">time_signature</a>
                            <a class="nav-link" href="#valence">valence</a>
                        </nav>
                    </nav>
                </div>
                <div class="col-sm-6">
                    <!-- <a class="audio-features"> -->
                    <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="scrollspy-example-2">
                        <h4 id="acousticness">acousticness</h4>
                        <p>A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</p>
                        <h5 id="danceability">danceability</h5>
                        <p>how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</p>
                        <h5 id="duration">duration</h5>
                        <p>Duration of the track in milliseconds</p>
                        <h4 id="energy">energy</h4>
                        <p>Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy.</p>
                        <h4 id="instrumentalness">instrumentalness</h4>
                        <p>Predicts whether a track contains no vocals. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content.</p>
                        <h5 id="key">key</h5>
                        <p>Estimated overall key of the track (e.g 0 = C, 1 = C♯/D♭, 2 = D)</p>
                        <h5 id="liveness">liveness</h5>
                        <p>Detects the presence of an audience in the recording. A value above 0.8 provides strong likelihood that the track is live.</p>
                        <h5 id="loudness">loudness</h5>
                        <p>The overall loudness of a track in decibels (dB).</p>
                        <h5 id="mode">mode</h5>
                        <p>The type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.</p>
                        <h5 id="speechicness">speechicness</h5>
                        <p>Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value.</p>
                        <h5 id="tempo">tempo</h5>
                        <p>The overall estimated tempo of a track in beats per minute (BPM).</p>
                        <h5 id="time_signature">time_signature</h5>
                        <p>Number of beats in a bar.</p>
                        <h5 id="valence">valence</h5>
                        <p>A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed,
                            angry).
                        </p>
                        <!-- </a> -->
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <h1>Genre Map</h1>

            </div>
        </div>

        <!-- <script type="module">
            import define from "{{ url_for('static', filename='js/index.js') }}"; import {Runtime, Library, Inspector} from "{{ url_for('static', filename='js/runtime.js') }}"; const runtime = new Runtime(); const main = runtime.module(define, Inspector.into(document.body));
        </script> -->



        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')
        </script>
        <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script> -->

        <!-- FOOTER -->
        <!-- <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; Published 2020. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer> -->
    </main>
</body>

</html>