<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Machine Learning Models</title>
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Import Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cyborg/bootstrap.min.css" integrity="sha384-Uga2yStKRHUWCS7ORqIZhJ9LIAv4i7gZuEdoR1QAmw6H+ffhcf7yCOd0CvSoNwoz" crossorigin="anonymous">
    <!-- Import Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Import Datatables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="css/datatables.css.css">
    <!-- Import DataTables Javascript -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- Script to load DataTable -->
    <script>
        $(document).ready(function() {
            $('#prediction_summary').DataTable({
                responsive: true
            });
        });
    </script>

</head>

<body>
    <!-- Navigation Bar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">
                <img src="../static/assets/machine-learning.png" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/features">Audio Features <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/methodology">Methodology <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/eda">Data Exploration <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/mlmodels">ML Models <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/summary">Summary <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/predictor">Predictor <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/aboutus">About Us <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Machine Learning Models</h1>
            <p class="lead">Recently released songs were processed by the model to predict their genre.</p>
        </div>
    </div>



    <!-- Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <!-- models -->
                <h1>Modeling</h1>

                <p>We split the sample data into a test data(80%) and train data(20%), balanced our features by scaling them and finally, we used the scaled data for creating predictive models. </p>
                <p>Supervised learning classification algorithms were used to predict which genre a track would belong too. The 3 models We used were: Logistic regression analysis, random forest classifier and Xtreme gradient boosting classifier.</p>

                <br>
                <br>

                <div class="row">
                    <div class="col-lg-3">
                        <img src="../static/assets/gear.svg" width="140" height="140" alt="">
                        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
                        <h2>Clustering</h2>
                        <p>The original Spotify data set has over a hundred different genres/sub-genres. How can we know how many genres to narrow it down to? We looked to K-Means Clustering Analysis and Silhouette Analysis for some insights. The K-Means
                            clustering algorithm suggested that between 4-6 genres would be most optimal. The team felt that 4-6 genres was too small. The silhouette analysis suggested that 4 or 12 genres would be most optimal. Twelve genres was chosen.</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="../static/assets/gear.svg" width="140" height="140" alt="">
                        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
                        <h2>Logistic Regression</h2>
                        <p>The first model attempted was the logistic regression because it is the simplest. It works by using the sigmoid function (logistic function) to map and predict the probabilities of a track falling into a genre. If the probability
                            of a track were closer to 1, it will be transformed into a binary value of 1(meaning it falls into that category). Else, it will be transformed into a binary value of 0(meaning it does not fall into that genre).</p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="../static/assets/deep-learning.svg" width="140" height="140" alt="">
                        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
                        <h2>Random Forest</h2>
                        <p>Since we were tackling our models in the order of simplicity, the next model was the random forest classifer; an ensemble tree based learning algorithm that combines decision trees.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="../static/assets/chip.svg" width="140" height="140" alt="">
                        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
                        <h2>XGBoost</h2>
                        <p>The final model that we tested was the extreme gradient boosting classifier. It is an implementation of gradient boosted decision trees designed for speed and performance</p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>

                <br>
                <br>

                <!-- Comparison -->
                <h1>Comparison & Selection</h1>
                <p>We used the ROC curve, Accuracy, Precision and Recall metrics to decide on the best model for predicting genres.These were the results: </p>
                <br>
                <br>


                <div class="row">
                    <div class="col-lg-10 center">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Type</th>
                                    <th scope="col">Accuracy</th>
                                    <th scope="col">Precision</th>
                                    <th scope="col">Recall</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-active">
                                    <th scope="row">Logistic regression</th>
                                    <td>0.41</td>
                                    <td>0.39</td>
                                    <td>0.41</td>
                                </tr>
                                <tr class="table-active">
                                    <th scope="row">Random Forest</th>
                                    <td>0.58</td>
                                    <td>0.63</td>
                                    <td>0.60</td>
                                </tr>
                                <tr class="table-active">
                                    <th scope="row">XGBoost</th>
                                    <td>0.57</td>
                                    <td>0.63</td>
                                    <td>0.59</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <br>
    <br>



    <!-- Validation -->
    <h1>Validation</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table border="1" class="table table-hover stripe" style="width:100%; text-align: center;" id="prediction_summary">
                    <!-- <table border="1" class="dataframe"> -->
                    <thead>
                        <tr style="text-align: right;">
                            <th></th>
                            <th>Listed_Genre</th>
                            <th>Predicted_Genre</th>
                            <th>danceability</th>
                            <th>energy</th>
                            <th>key</th>
                            <th>loudness</th>
                            <th>mode</th>
                            <th>speechiness</th>
                            <th>acousticness</th>
                            <th>instrumentalness</th>
                            <th>liveness</th>
                            <th>valence</th>
                            <th>tempo</th>
                            <th>duration_ms</th>
                            <th>popularity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>billie_elilish</th>
                            <td>pop</td>
                            <td>indie</td>
                            <td>0.444</td>
                            <td>0.3090</td>
                            <td>8</td>
                            <td>-10.956</td>
                            <td>1</td>
                            <td>0.0620</td>
                            <td>0.79500</td>
                            <td>0.132000</td>
                            <td>0.3520</td>
                            <td>0.0875</td>
                            <td>104.745</td>
                            <td>208155</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>alanis_morissette</th>
                            <td>pop</td>
                            <td>pop</td>
                            <td>0.310</td>
                            <td>0.6270</td>
                            <td>10</td>
                            <td>-6.679</td>
                            <td>0</td>
                            <td>0.0429</td>
                            <td>0.62100</td>
                            <td>0.000095</td>
                            <td>0.1300</td>
                            <td>0.1580</td>
                            <td>118.319</td>
                            <td>205400</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>taylor_swift</th>
                            <td>pop</td>
                            <td>latin</td>
                            <td>0.613</td>
                            <td>0.5810</td>
                            <td>0</td>
                            <td>-8.588</td>
                            <td>0</td>
                            <td>0.0424</td>
                            <td>0.53700</td>
                            <td>0.000345</td>
                            <td>0.2500</td>
                            <td>0.5510</td>
                            <td>130.033</td>
                            <td>239560</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>justin_bieber</th>
                            <td>pop</td>
                            <td>latin</td>
                            <td>0.811</td>
                            <td>0.5530</td>
                            <td>9</td>
                            <td>-6.644</td>
                            <td>1</td>
                            <td>0.0552</td>
                            <td>0.31700</td>
                            <td>0.000000</td>
                            <td>0.1050</td>
                            <td>0.8600</td>
                            <td>148.014</td>
                            <td>212869</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>john_legend</th>
                            <td>r&amp;b</td>
                            <td>pop</td>
                            <td>0.557</td>
                            <td>0.5850</td>
                            <td>8</td>
                            <td>-6.201</td>
                            <td>1</td>
                            <td>0.0431</td>
                            <td>0.03600</td>
                            <td>0.000000</td>
                            <td>0.1760</td>
                            <td>0.3050</td>
                            <td>63.392</td>
                            <td>196907</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>partynextdoor</th>
                            <td>r&amp;b</td>
                            <td>pop</td>
                            <td>0.430</td>
                            <td>0.7000</td>
                            <td>6</td>
                            <td>-5.350</td>
                            <td>1</td>
                            <td>0.2640</td>
                            <td>0.09020</td>
                            <td>0.000000</td>
                            <td>0.2160</td>
                            <td>0.7310</td>
                            <td>158.373</td>
                            <td>183219</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>dj_khaled</th>
                            <td>rap</td>
                            <td>rap</td>
                            <td>0.800</td>
                            <td>0.5600</td>
                            <td>5</td>
                            <td>-4.818</td>
                            <td>0</td>
                            <td>0.2610</td>
                            <td>0.05700</td>
                            <td>0.000000</td>
                            <td>0.1340</td>
                            <td>0.4500</td>
                            <td>163.071</td>
                            <td>200221</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>drake</th>
                            <td>rap</td>
                            <td>rap</td>
                            <td>0.761</td>
                            <td>0.5180</td>
                            <td>0</td>
                            <td>-8.871</td>
                            <td>1</td>
                            <td>0.1340</td>
                            <td>0.24400</td>
                            <td>0.000035</td>
                            <td>0.1070</td>
                            <td>0.5220</td>
                            <td>133.976</td>
                            <td>261493</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>bon_jovi</th>
                            <td>rock</td>
                            <td>rock</td>
                            <td>0.438</td>
                            <td>0.8260</td>
                            <td>10</td>
                            <td>-5.454</td>
                            <td>1</td>
                            <td>0.0750</td>
                            <td>0.00586</td>
                            <td>0.000009</td>
                            <td>0.3620</td>
                            <td>0.3780</td>
                            <td>144.149</td>
                            <td>221947</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>elton_john</th>
                            <td>rock</td>
                            <td>pop</td>
                            <td>0.428</td>
                            <td>0.5990</td>
                            <td>4</td>
                            <td>-2.135</td>
                            <td>1</td>
                            <td>0.0286</td>
                            <td>0.06650</td>
                            <td>0.000010</td>
                            <td>0.1370</td>
                            <td>0.1340</td>
                            <td>125.830</td>
                            <td>301730</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>chad_lawson</th>
                            <td>classical</td>
                            <td>classical</td>
                            <td>0.337</td>
                            <td>0.0111</td>
                            <td>0</td>
                            <td>-27.273</td>
                            <td>1</td>
                            <td>0.0456</td>
                            <td>0.99100</td>
                            <td>0.958000</td>
                            <td>0.0886</td>
                            <td>0.1480</td>
                            <td>75.690</td>
                            <td>159208</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>rascall_flats</th>
                            <td>country</td>
                            <td>rock</td>
                            <td>0.442</td>
                            <td>0.8000</td>
                            <td>2</td>
                            <td>-5.120</td>
                            <td>1</td>
                            <td>0.0368</td>
                            <td>0.01240</td>
                            <td>0.000000</td>
                            <td>0.0785</td>
                            <td>0.4980</td>
                            <td>152.004</td>
                            <td>211707</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>tenille_townes</th>
                            <td>country</td>
                            <td>country</td>
                            <td>0.600</td>
                            <td>0.7420</td>
                            <td>6</td>
                            <td>-4.135</td>
                            <td>1</td>
                            <td>0.0379</td>
                            <td>0.00716</td>
                            <td>0.000000</td>
                            <td>0.3630</td>
                            <td>0.7960</td>
                            <td>85.008</td>
                            <td>195187</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>david_guerra</th>
                            <td>electronic</td>
                            <td>pop</td>
                            <td>0.662</td>
                            <td>0.8680</td>
                            <td>5</td>
                            <td>-4.025</td>
                            <td>1</td>
                            <td>0.0341</td>
                            <td>0.00882</td>
                            <td>0.002440</td>
                            <td>0.5840</td>
                            <td>0.3530</td>
                            <td>92.998</td>
                            <td>200645</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>giant_rocks</th>
                            <td>indie</td>
                            <td>rock</td>
                            <td>0.530</td>
                            <td>0.8690</td>
                            <td>10</td>
                            <td>-3.542</td>
                            <td>0</td>
                            <td>0.0425</td>
                            <td>0.01990</td>
                            <td>0.000365</td>
                            <td>0.1300</td>
                            <td>0.5310</td>
                            <td>153.060</td>
                            <td>292733</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>instrumental_Jazz_music_guys</th>
                            <td>jazz</td>
                            <td>pop</td>
                            <td>0.599</td>
                            <td>0.1770</td>
                            <td>0</td>
                            <td>-14.621</td>
                            <td>1</td>
                            <td>0.0509</td>
                            <td>0.98000</td>
                            <td>0.577000</td>
                            <td>0.1380</td>
                            <td>0.5070</td>
                            <td>115.325</td>
                            <td>258341</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>christian_nodal</th>
                            <td>latin</td>
                            <td>latin</td>
                            <td>0.626</td>
                            <td>0.4700</td>
                            <td>0</td>
                            <td>-2.984</td>
                            <td>1</td>
                            <td>0.0316</td>
                            <td>0.52200</td>
                            <td>0.000000</td>
                            <td>0.2010</td>
                            <td>0.8250</td>
                            <td>140.046</td>
                            <td>176347</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>lon_orchestra</th>
                            <td>show_tunes</td>
                            <td>rock</td>
                            <td>0.699</td>
                            <td>0.4190</td>
                            <td>0</td>
                            <td>-15.133</td>
                            <td>1</td>
                            <td>0.1340</td>
                            <td>0.25500</td>
                            <td>0.023900</td>
                            <td>0.0471</td>
                            <td>0.8220</td>
                            <td>131.629</td>
                            <td>164307</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>broadway</th>
                            <td>show_tunes</td>
                            <td>show_tunes</td>
                            <td>0.674</td>
                            <td>0.6560</td>
                            <td>5</td>
                            <td>-7.171</td>
                            <td>1</td>
                            <td>0.1210</td>
                            <td>0.10700</td>
                            <td>0.000000</td>
                            <td>0.3690</td>
                            <td>0.9030</td>
                            <td>139.992</td>
                            <td>101708</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>kirk_franklin</th>
                            <td>worship</td>
                            <td>pop</td>
                            <td>0.745</td>
                            <td>0.6770</td>
                            <td>1</td>
                            <td>-5.355</td>
                            <td>1</td>
                            <td>0.2150</td>
                            <td>0.18100</td>
                            <td>0.000000</td>
                            <td>0.0895</td>
                            <td>0.7200</td>
                            <td>97.092</td>
                            <td>251258</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>shane_shane</th>
                            <td>worship</td>
                            <td>pop</td>
                            <td>0.426</td>
                            <td>0.3880</td>
                            <td>0</td>
                            <td>-12.084</td>
                            <td>1</td>
                            <td>0.0279</td>
                            <td>0.16600</td>
                            <td>0.000000</td>
                            <td>0.1020</td>
                            <td>0.2680</td>
                            <td>75.021</td>
                            <td>305055</td>
                            <td>56</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</body>